.userProfileContainer {
  width: 100%;
  margin-top: 2rem;
}

.paperBox {
  width: 50vw;
  padding: 3rem;
  margin: 0 auto 1rem auto;
  background-color: white;
  height: 250px;
  display: grid;
  grid-template-columns: 4fr 2fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'area1 area2 gravatar' 'area1 area3 gravatar';
}

.item-a {
  grid-area: area1;
  /* background-color: pink; */
}

.item-b {
  grid-area: area2;
  padding-top: 1.5rem;
  /* background-color: blue; */
}
.item-c {
  grid-area: area3;
  padding-top: 1rem;
  /* background-color: green; */
}
.item-d {
  grid-area: gravatar;
  /* background-color: yellow; */
  padding: 0 2rem 0 2rem;
}

.paperBox h1 {
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
}

.paperBox h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.paperBox p {
  color: rgba(38, 50, 56, 0.54);
}

.paperGravatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
