.itemAdder {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'imageUploader directions';
  grid-column-gap: 0rem;
  margin: 6rem auto 0 auto;
}

.imageUploadSection {
  grid-area: 'imageUploader';
}

.imageDirections {
  grid-area: 'directions';
}
